:root {
  --bg-color: #14120b;
  --fg-color: #edecec;
  --menu-color: #1b1913;
  --primary-fonts:
    "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  --secondary-fonts:
    "Berkeley Mono", ui-monospace, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --elements-border: 1px solid color-mix(in oklab, #edecec 2.5%, transparent);
  --width-max: 1300px;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--primary-fonts);
  font-weight: 400;
}

.main-logo {
  width: 95.75px;
  height: auto;
}

.nav-bar {
  width: 100%;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 1;
  padding-inline: 20px;
}

.nav-div {
  display: flex;
  align-items: center;
  height: 52px;
  max-width: 1300px;
  margin-inline: auto

}

.nav-left,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
  gap: 6px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-width: 900px) {
  nav {
    display: none;
  }
}

.nav-elements {
  background-color: inherit;
  color: currentColor;
  padding: 5.6px 15px 5.6px 15px;
  text-decoration: none;
  font-size: 0.875rem;
  border: 1px solid #0000;
  display: inline-flex;
  padding-block: calc(1.4rem*3/12);
  padding-inline: calc(10rem/16*1.5);
}

.nav-elements:hover {
  opacity: 0.75;
}

.nav-elements-grid {
  display: none;
}

.nav-elements-grid li {
  display: block;
}

.nav-elements-grid a {
  display: block;
  padding: 4.6px 65px 5.6px 0px;
  text-align: left;
}

.small-grid {
  position: relative;
}

.small-grid::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px; 
}

.small-grid:hover .nav-elements-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 30px;
  background-color: var(--menu-color);
  border: 0px;
  border-radius: 4%;
  padding: 9px 15px;
  padding-right: 0;
}

.black-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  height: 27.4688px;
  padding: 5.6px 10.5px;
  color: var(--fg-color);
  background-color: transparent;
  border: 1px solid color-mix(in oklab, #edecec 20%, transparent);
  border-radius: 9999px;
}

.white-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  height: 27.4688px;
  padding: 5.6px 10.5px;
  color: var(--bg-color);
  background-color: var(--fg-color);
  border: 1px solid var(--fg-color);
  border-radius: 9999px;
}

section,
figure,
.h-flex {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
}

.hero {
  padding-top: 160px;
}

.heading {
  margin-bottom: calc(1rem * 1.4);
}

.title {
  font-size: 1.625rem;
  font-family: var(--primary-fonts);
  line-height: 1.25;
  width: 750px;
  text-wrap: balance;
  font-weight: 400;
  letter-spacing: -0.0125em;
}

.cta-button {
  color: var(--bg-color);
  background-color: var(--fg-color);
  border: 1px solid var(--bg-color);
  padding: 0.78em 1.35em 0.8em;
  border-radius: 9999px;
  text-decoration: none;
  font-size: 1rem;
  display: inline-flex;
  line-height: 1;
  height: 43.2px;
  justify-content: center;
  align-items: center;
}

.hero-fig,
.supporters-div {
  margin-top: calc(1rem * 4.4);
}

.supporters-line {
  display: flex;
  justify-content: center;
  color: currentColor;
  text-decoration: none;
  text-wrap: balance;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 0.875rem;
  margin-bottom: 1.4rem;
}

.supporter-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 6.3rem;
}

.supporter-card img {
  background-color: var(--menu-color);
  height: 2.5rem;
  width: auto;
}

.supporter-card {
  height: 6.25rem;
  width: 100%;
  background-color: var(--menu-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--elements-border);
  border-radius: 4px;
}

.left-subhero,
.right-subhero {
  background-color: var(--menu-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: var(--elements-border);
  border-radius: 4px;
  padding: 1.1rem;
  padding-bottom: 0.7rem;
  margin-bottom: calc(1.4rem * 4);
  text-wrap: pretty;
}

.right-subhero {
  padding-right: 2rem;
}

.left-subhero .left {
  flex: 1;
  padding-right: calc(calc(10rem / 16) * 3);
  padding-left: calc(calc(10rem / 16) * 0.25);
}

.left-subhero .right {
  flex: 2;
  min-width: 0;
}

.left-subhero .right img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.right-subhero .left {
  flex: 2;
  min-width: 0;
  padding-right: calc(calc(10rem / 16) * 3);
}

.right-subhero .right {
  flex: 1;
  padding-left: calc(calc(10rem / 16) * 0.25);
}

.right-subhero .left img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.subhero-title {
  font-size: 1.375rem;
  line-height: 1.3;
  letter-spacing: -0.005em;
  font-weight: 400;
}

.subhero-text {
  font-size: 1.375rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.005em;
  color: color-mix(in oklab, #edecec 60%, transparent);
  margin-bottom: 0.933rem;
}

.subhero-cta {
  color: #f54e00;
  display: inline flex;
  padding: unset;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0;
}

.testimonials,
.features,
.changelog,
.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4.2rem 0px;
}

.t-heading {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: calc(1rem * 1.4 * 2.5);
}

.t-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: calc(10rem / 16);
}

.t-card {
  display: flex;
  flex-direction: column;
  background-color: var(--menu-color);
  border: var(--elements-border);
  border-radius: 4px;
  padding: calc(10rem / 16 * 1.75);
  justify-content: space-between;
}

.t-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
  white-space: pre-line;
}

.t-flex {
  margin-top: 2.8rem;
  display: flex;
}

.t-author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.t-name {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.t-role {
  color: color-mix(in oklab, #edecec 60%, transparent);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.t-img {
  height: 2.5rem;
  width: 2.5rem;
  color: transparent;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 0.92rem;
}

.features,
.changelog {
  align-items: flex-start;
}

.f-header,
.log-header {
  font-size: 1.625rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.0125em;
  text-wrap: balance;
  margin-bottom: 1.4rem;
}

.f-flex {
  display: flex;
  gap: calc(10rem / 16);
}

.f-card,
.log-card {
  background-color: var(--menu-color);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: var(--elements-border);
}

.f-card {
  padding: calc(10rem / 16 * 1.75);
  flex: 1;
}

.f-title,
.f-text,
.f-cta,
.log-footer {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.f-text {
  text-wrap: pretty;
  color: color-mix(in oklab, #edecec 60%, transparent);
}

.f-cta {
  margin-top: calc(1rem * 1.4 * 8 / 12);
}

.f-cta a,
.log-cta {
  text-decoration: none;
  color: #f54e00;
}

.f-img {
  padding-top: calc(calc(10rem / 16) * 1.75);
  width: 100%;
  height: auto;
  color: transparent;
  border-radius: 4px;
}

.log-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(10rem / 16);
}

.log-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--fg-color);
  padding: calc(calc(10rem / 16) * 1.75);
  padding-bottom: calc(calc(10rem / 16) * 2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.log-title {
  display: flex;
  gap: calc(12rem / 15);
  color: color-mix(in oklab, #edecec 60%, transparent);
  border-color: color-mix(in oklab, #edecec 60%, transparent);
}

/* .log-version {
    border-radius: 3.40282e38px;
    border: 1px solid;
    font-size: 0.875rem;
    padding: .28em .65em .29em;
    letter-spacing: 0.01em;
    position: relative;
    bottom: 0.18rem;
    right: .05rem;
    display: inline-flex;
    align-items: center;
} */

.log-version {
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.01em;
  height: 24px;
  line-height: 14px;
  font-size: 0.875rem;
  padding: 0 0.65em;
  border: 1px solid;
  border-radius: 9999px;
  position: relative;
  top: 0.01rem;
}

.log-footer {
  margin-top: 1.4rem;
  display: flex;
}

.log-text {
  margin-top: calc(1rem * 1.4 * 6 / 12);
  color: var(--fg-color);
}

.highlights {
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100vw;
  margin-block-start: calc(1.4rem * 3);
  background-color: var(--menu-color);
  padding: calc(1.4rem * 3) calc(calc(10rem / 16) * 2);
  padding-block-start: calc(1.4rem * 4);
  padding-block-end: calc(1.4rem * 4);
}

.h-flex {
  display: flex;
}

.h-header {
  flex: 1;
}

.h-header h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.005em;
  position: sticky;
  top: 64px;
}

.h-cards {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: calc(10rem / 16);
}

.h-card {
  flex: 1;
  background-color: #201e18;
  border-radius: 4px;
  border: var(--elements-border);
  padding: calc(calc(10rem / 16) * 1.5);
}

.h-card a,
.h-cta {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
  text-wrap: pretty;
}

.h-title {
  color: var(--fg-color);
  font-style: normal;
}

.h-text,
.h-meta {
  color: color-mix(in oklab, #edecec 60%, transparent);
}

.h-meta {
  margin-top: 1.4rem;
}

.h-cta {
  display: inline-flex;
  color: #f54e00;
  margin-top: calc(1.4rem - calc(10rem / 16));
}

.footer-cta {
  padding-block: calc(1.4rem * 6);
}

.fc-div {
  text-align: center;
  max-width: 80ch;
  margin-inline: auto;
}

.fc-text {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-wrap: balance;
  margin-bottom: 1.4rem;
}

footer {
  background-color: var(--menu-color);
  padding-top: calc(1rem * 1.4 * 3);
  padding-bottom: calc(calc(10rem / 16) * 3);
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2.8rem;
  column-gap: calc(10rem / 16);
  width: 100%;
  margin-bottom: calc(1.4rem * 4.5);
}

.fnav-title {
  padding-bottom: calc(1.4rem * 2.5 / 12);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: color-mix(in oklab, #edecec 60%, transparent);
}

.fnav-list {
  list-style: none;
  display: block;
}

.fnav-element {
  display: inline-block;
  text-decoration: none;
  color: var(--fg-color);
  padding-block: calc(1.4rem * 2.5 / 12);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.page-end {
  display: flex;
  gap: 2.8rem;
  justify-content: space-between;
  width: 100%;
}

.language-button {
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  line-height: 1;
  padding: 0.4em calc(0.75em + 1.74px) 0.42em;
  cursor: pointer;
  background-color: #26241e;
  border: var(--elements-border);
  color: var(--fg-color);
  font-family: var(--primary-fonts);
  border-radius: 999px;
  font-feature-settings: "ss09";
}

.pe-right,
.pe-left {
  display: flex;
  align-items: center;
  gap: calc(10rem / 16 * 1.5);
}

.theme-btns {
  display: flex;
  border-radius: 999px;
  background-color: #26241e;
  padding: calc(0.25rem * 0.5);
  text-align: center;
}

.theme-btn {
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
  padding: .4em .75em .42em;
  border-radius: 999px;
  color: var(--fg-color);
  justify-content: center;
  align-items: center;
}
 
.tb-active {
  border: var(--elements-border);
  border-radius: 999px;
  background-color: color-mix(in oklab, #edecec 10%, transparent);
}

.pe-text {
  color: color-mix(in oklab, #edecec 60%, transparent);
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
}
